.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 36px;
  cursor: pointer;
}

.bm-burger-bars {
  background-color: #016DD1;
  opacity: 0.2;
}

.line-style {
  position: absolute;
  height: 10%;
  left: 0;
  right: 0;
}

.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}

.bm-cross {
  background: #016DD1;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #016DD1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 300px; /* Place content 60px from the top */
  transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}

.bm-overlay {
  background: #016DD1;
}
.bm-item-list {
  color: #b8b7ad;
  margin-left: 10%;
  font-size: 20px;
}
.bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}
.bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}